<% layout('../layouts/boilerplate') %>
<div class="container" style="width: 600px;">
    <div class="row">
     <div class="col-md-6 offset-md-6 col-xl-10 offset-xl-1">
         <h2 class="card-title text-center ">Edit Campground</h5>
      <div class="card shadow">
          <div class="card-body">
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validatedForm" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="campground[title]" value="<%=campground.title%>" required>
            <div class="valid-feedback">
                looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="campground[location]" value="<%=campground.location%>" required>
            <div class="valid-feedback">
                looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Campground price</label>
            <div class="input-group ">
                <span class="input-group-text" id="price">&#x20B9;</span>
                <input type="text" class="form-control" placeholder="0" aria-label="Username" aria-describedby="price" name="campground[price]" value="<%=campground.price%>" required>
                <div class="valid-feedback">
                    looks good!
                </div>
              </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" id="description"  name="campground[description]" required><%=campground.description%></textarea>
            <div class="valid-feedback">
                looks good!
            </div>
        </div>
        <div class="mb-2">
            <label class="form-control" for="images">Images</label>
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="images" name="image" multiple>
            <label class="input-group-text" for="images">Upload</label>
          </div>
        <div class="mb-3">
            <%campground.images.forEach((img,i)=>{ %>
                <img src="<%= img.thumbnail %> " class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" name="deleteImages[]" value="<%=img.filename %>" id="image-<%=i%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
            <% }) %> 
        </div>
        <div class="mb-3">
            <button class="btn btn-success col-12">update campground</button>
        </div>
    </form>
    <a class="btn btn-warning col-12" href="/campgrounds/<%=campground._id%>">Back to Campground</a>
</div>
</div>
</div>
</div>
</div>
    

